<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row  ">
            <div class="col-md-4 text-center">
                <h2>LOCATION</h2>
                <h5>2215 John Daniel Drive</h5>
                <h6>Clark, MO 65243</h6>
            </div>
            <div class="col-md-4 text-center">
                <h2>AROUND THE WEB</h2>
                <i class="fa-brands fa-facebook fa-2xl m-1"></i>
                <i class="fa-brands fa-twitter fa-2xl m-1"></i>
                <i class="fa-brands fa-linkedin fa-2xl m-1"></i>
                <i class="fa-solid fa-globe fa-2xl m-1"></i>
            </div>
            <div class="col-md-4 text-center">
                <h2>ABOUT FREELANCER</h2>
                <h5>Freelance is a free to use, licensed Bootstrap theme created by Route</h5>
                
            </div>
        </div>
    </div>
    <div class="sertif">
        <p class="d-flex justify-content-center  align-content-center">Copyright © Your Website 2021</p>
        </div>
</footer>