<section  class="contact pt-2 mt-5 vh-100">
    <div class=" container-fluid my-3">
<div class="text-center">
    <h2 class="text-white">CONATCT SECTION</h2>
    <div class="text-white w-25 m-auto"><i class="fa-solid fa-star"></i></div>
</div>
    
    <div class="h-50 m-auto w-50 ">
        <input type="text" class="form-control mt-3  " placeholder="User Name">
        <input type="number" class="form-control mt-3  " placeholder="User Age">
        <input type="email" class="form-control mt-3  " placeholder="User email@.com">
        <input type="password" class="form-control my-3  " placeholder="User password">

    </div>
    <div class="text-center">
        <button class="btn btn-outline-success">send message</button>
    </div>
</div>
</section>
